.preloader {
    @extend %cover;
    @extend %center;
    display: none;
    background-color: $color-contessa;
    color: $color-quarter-spanish-white;
    text-align: center;
    flex-direction: column;
}

.preloader__text {
 @extend %title-53;
 max-width: 66rem;
}

.preloader__number {
    position: absolute;
    bottom: 7.3rem;
    @extend %description-14;
}