.collection__content {
    @extend %cover;

}
.collections__content__article {
    position: absolute;
    left: 8rem;
    bottom: 8rem;
    opacity: 0;
    
    &--active {
    opacity: 1;  
   }
}
.collections__content__article__title {
    @extend %title-60;
    padding-bottom: 2rem;
}
.collections__content__article__description  {
    @extend %description-16;
    max-width: 44rem;
}
