extends ../base.pug 

block variables 
    - var template = 'detail'

block content 
    h1.collections__title Details
    .detail__wrapper 
     figure.detail__media 
      image.detail__media__image(alt=product.data.product.alt src=product.data.product.url)
     .detail__content__wrapper